@model DamienGuytonMVC.Models.Player

@{
    ViewBag.Title = "SignupSuccess";
}
<h1>Sweepstake Entry</h1>
<h2>Thanks @Model.FirstName @Model.LastName, you have been assigned @Model.Horse.Name. Good luck!</h2>
<br />
<br />

